/*--------------------------------
 journey title-styles 
 ---------------------------------*/

.five-years-journey-sec {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;

}

.journey-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#line01 {
    width: 370px;
    height: 40px;
    opacity: 70%;
    margin-top: 15px;
    margin-right: 70px;
}

#line02 {
    width: 370px;
    height: 40px;
    opacity: 70%;
    margin-top: 15px;
    margin-left: 70px;
}

#five-years-j {
    font-size: 34px;
    opacity: 70%;
}

/*--------------------------------
 journey photo-styles 
 ---------------------------------*/
.photo-start-journey {
    width: 100%;
    /* background-color: rgba(165, 42, 42, 0.232); */
}

.journey-photos {
    align-items: center;
    justify-content: center;
}

.clients-photo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* height: 400px; */
    /* overflow-y: hidden; */
    overflow-x: scroll;
    /* overflow-x: hidden; */

}

.clients-photo img {
    width: 610px;
    height: 410px;
    padding: 5px;
}

.clients-photo img:hover {
    padding: 0px;
    border-radius: 10px;
    transition: .15s ease-in-out
}


/*  ----- ----- ----- ----- 
Media Query
  ----- ------ ------ ------- */
@media only screen and (max-width:688px) {


    /* .five-years-journey-sec {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 50px;


    } */

    .five-years-journey-sec {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;


    }

    #line01 {
        width: 70px;
        height: 40px;
        opacity: 70%;
        margin-top: 15px;
        margin-right: 30px;

    }

    #line02 {
        width: 70px;
        height: 40px;
        opacity: 100%;
        margin-top: 15px;
        margin-left: 30px;

    }



    #five-years-j {
        font-size: 27px;
        width: 240px;
        margin: 0px;
        padding-left: 0px;
        opacity: 70%;
    }

    .journey-title {
        width: 440px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    /*--------------------------------
 journey photo-styles 
 ---------------------------------*/
    .photo-start-journey {
        width: 100%;
        /* background-color: rgba(165, 42, 42, 0.232); */
        /* padding-left: 200px; */
    }

    .journey-photos {
        width: 470px;
        align-items: center;
        justify-content: center;
    }

    .clients-photo {
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        /* height: 400px; */
        /* overflow-y: hidden; */
        overflow-x: scroll;
        /* overflow-x: hidden; */

    }

    .clients-photo img {
        width: 460px;
        height: 290px;
        padding: 5px;
    }

}