/*--------------------------------
 journey title-styles 
 ---------------------------------*/

.five-years-journey-title {
    border: 2px solid red;
    /* width: 1340px; */

}

.five-years-journey-sec {

    /* width: 100%; */
    /* background-color: slategrey; */
    margin-top: 2em;
    margin-bottom: 2em;

}

.journey-title {
    /* width: 1900px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#line01 {
    width: 400px;
    height: 40px;
    opacity: 70%;
    margin-top: 15px;
    margin-right: 30px;
}

#line02 {
    width: 400px;
    height: 40px;
    opacity: 70%;
    margin-top: 15px;
    margin-left: 30px;
}

#five-years-j {
    font-size: 24px;
}

/*--------------------------------
 journey photo-styles 
 ---------------------------------*/
.journey-photos {
    width: 1080px;
    align-items: center;
    justify-content: center;
}

.clients-photo {
    /* width: 1980px; */
    display: flex;
    height: 400px;
    /* overflow-y: hidden; */

    overflow-x: scroll;
    overflow-wrap: break-word;
    /* overflow-x: hidden; */

}

.clients-photo img {
    width: 540px;
    height: 360px;
    /* border-radius: 5px; */
    padding: 5px;
}

.clients-photo img:hover {
    /* border: 3px solid black; */
    padding: 0px;
    border-radius: 10px;
    transition: .15s ease-in-out
}

/*  ----- ----- ----- ----- 
Media Query
  ----- ------ ------ ------- */
@media only screen and (max-width:688px) {

    .five-years-journey-sec {
        width: 499px;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-left: 50px;


    }

    #line01 {
        width: 70px;
        height: 20px;
        opacity: 100%;
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 20px;
        padding: 0px;
    }

    #line02 {
        width: 70px;
        height: 20px;
        opacity: 100%;
        margin-top: 15px;
        margin-right: 0px;
        margin-left: 20px;
        padding: 0px;
    }

    #five-years-j {
        font-size: 27px;
        width: 240px;
        margin: 0px;
        padding: 0px;
    }

    .journey-title {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 50px; */
    }
}